*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --PrimerColor-:#d90429;
    --SegundoColor-:#d9dcd6;
    --TercerColor-:#fffcf2;
    --CuartoColor-:#0b090a;
}

header{
    background-color: var(--PrimerColor-);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    justify-content: start;
}

nav a{
    color: #edf2f4;
    font-size: 1.5rem;
    margin: 0 1rem;
    text-decoration: none;
    display: flex;
    text-shadow: 2px 2px 4px #0b090a;
}

nav a:hover{
    color: var(--CuartoColor-);
}

.imagen{
    display: flex;
    justify-content: end;
}

#logo{
    width: 4rem;
    background-color: #edf2f4;
    border-radius: 1rem;
    margin-right: 1.5rem;
}

body{
    background-color: var(--SegundoColor-);
}

footer{
    display: flex;
    justify-content: center;
    background-color: var(--PrimerColor-);
    padding: 1rem;
} /*Estilo general de la pagina*/

/* pagina Home estilo*/

.homeSection{
    display: flex;
    justify-content: space-between;
}

.homeSection p{
    margin: 15rem 0;
}

#banner{
    width: 100%;
    height: 35vh;
    object-fit: cover;
    border-radius: 1rem;
}

#imagenhome{
    width: 20rem;
    border-radius: 2rem;
    margin: 1rem;
}

#tituloHome{
    display: flex;
    justify-content: center;
}

/* pagina about estilo*/
#imagenAbout1{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

#imagenAbout2{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

#imagenAbout3{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.imagenesAbout p{
    margin: 0 0 10rem;
}

.imagenesAbout h1, h2{
    display: flex;
    justify-content: center;
    margin: 0 2rem;
}

.aboutConte1{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.aboutConte2{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.aboutConte3{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

/* pagina Contact estilo*/
#imagenContacto{
    width: 50rem;
    border-radius: 2rem;
}

#tituloContact{
    display: flex;
    justify-content: center;
}

.ContactConte{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.direccionesContact{
    display: flex;
    justify-content: space-around;
}

.direccionesContact a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #0b090a;
}

/* pagina 4 Estilo */
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido h1,h2{
    color: #0b090a;
}

.contenido2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido2 h1,h2{
    color: #0b090a;
}

table{
    margin: 1rem;
    padding: 1rem;
}

table, th, td{
    padding: 1rem;
    border: 2px solid black;
    color: #0b090a;
    background-color: var(--PrimerColor-);
}

/* pagina 5 estilo*/
.conte1{
    display: flex;
    justify-content: space-between;
    background-color: #8d99ae;
    border-radius: 2rem;
    border: 2px solid black;
    width: 70%;
    margin: 2rem 12rem;
}

.conte2{
    display: flex;
    justify-content: space-between;
    background-color: #8d99ae;
    border-radius: 2rem;
    border: 2px solid black;
    width: 70%;
    margin: 2rem 12rem;
}
